<h1>Tenant</h1>

<p><%= @tenant.first_name %> <%= @tenant.last_name %></p>

<ul>
  <li><%= link_to "Edit", edit_tenant_path(@tenant) %></li>
  <li><%= link_to "Destroy", tenant_path(@tenant), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>